main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#less-zero, #greater-max{
  color:firebrick;
}

#reset {
  margin: 20px;
}
